/*
==================================================================================================================================
O css (Cascading Style Sheet) serve para definir o estilo visual do HTML.
Ele trabalha com três partes principais:
    -SELETOR: o que será estilizado (ex: body, h1,.classe, #id)
    -PROPRIEDADE: o que será alterado (ex: color, font-size)
    -VALOR: o novo estilo (ex: blue, 20px)
==================================================================================================================================
*/
@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Single:wght@100..900&display=swap');
/*
O seletor universal  (*) aplica o estilo a TODOS os elementos da página.
Aqui usamos para remover as margens.
*/
* {
    margin: 0;
    padding: 0;
}
/* 
O Seletor bady representa o corpo da página.
As propriedades definem a aparencia geral do site
*/

body{
    /*tipo de fonte do site*/
    font-family: "Bitcount Grid Single", system-ui;
    /* cor de fundo */
  background-color: #0a192f;
   /* cor da fonte */
   color: #e2e8f0;
   /* altura das linhas */
   line-height: 1.6;

}

/* Personalizar seleção do texto */
::selection{
    background-color: #00e5ff;
    color: #000;
}

/*
=================================================================================================================================================
TITULOS, TEXTOS E LINKS
=================================================================================================================================================
*/

/*
Seletores de tags (h1, h2, h3) estilizam os títulos
*/
h1 {
    /* espaçamento inferior*/
    margin-bottom:  10px;
    /* altura da linha */
    line-height: 1,25;
    /* tamanho da fonte */
    font-size: 2.4rem;
    /* cor da fonte */
    color: #00e5ff;
    /* brilho de sombra */
    text-shadow: 0 0 10px #00e5ff;
}
h2 {
    margin-bottom: 10px;
    line-height: 1.25;
    font-size: 1.8rem;
    color: #8b5cf6;
}

p{
    margin-bottom: 14px;
    color: #94a3b8;
}
a {
    color: #00e5ff;
    /* decoração do meu texto --> o none tira o sublinhado */
    text-decoration: none;
    /* criar uma transição ao passar o mouse */
    transition: color 0.2s;


}
/* O estado :hover é acionado quando o usuário passa o mouse */
a:hover{
    color: #e2e8fe;
}

/*
=======================================================================================================================================
CABEÇALHO E MENU DE NAVEGAÇÃO 
=======================================================================================================================================
*/

header{
    /* o linear-gradient cria um efeito degradê, passamos o angulo
    e depois as cores com a porcentagem que elas vão ocupar*/
    background: linear-gradient(90deg, #111827 0%, #1e1b4b 100%);
    /* espaçamento dentro do header */
    padding: 40px 20px;
    /* alinhamento do texto */
    text-align: center;
    /* cria uma sombra */
    box-shadow: 0 4px 20px rgba(0,0,0,4);
}

nav {
    background-color: #0f172a;
    /* bordar superior --> 1px (espessura), solid (o tipo de borda), cor*/
    border-top: 1px solid #1e293b;
    /*bordar-bottom: 1px solid #1e293b;
}
